[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/x-ms-regedit;
Exec=env "WINEPREFIX=/home/najib/.local/share/winegui/prefixes/Windowz" wine start /ProgIDOpen "regfile" %f
NoDisplay=true
StartupNotify=true
